header{
    background-color: #793700;
    height: 12vh;
}

.titulo-principal {
	padding-left: 20px;
    font-size: 6vh;
    color:#FFFFFF;
}

#banner{
    width:100%;
}

.titulo-centralizado {
	text-align: center;
    font-size: 5vh;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 3.5vh;
}
.principal{
	background: #CCCCCC;
	padding: 10vh;
}

p {
	text-align: center;
}

#missao {
	font-size: 20px;
}

em strong {
	color: #FF0000;
}

.itens {
	font-style: italic;
    margin: 2.5vw 0vw 0vw 6vw;
}

.beneficios {
	background: #e6e5d5;
	padding: 20px;
}

ul {
	display: inline-block;
	vertical-align: top;
	width: 20%;
	margin-right: 15%;
}

.imagembeneficios {
	width: 30%;
    margin-top: 5vh;
    margin-left: 10vw;
}